/*ESTILOS GENERALES*/
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 3, 158);
}

/*PRINCIPAL*/
.principal{
    display: flex;
    max-width: 770px;
    min-width: 322px;
}


/*COLUMNAS*/
.columna{
    color: whitesmoke;
    padding: 2rem;
    width: 22%;
    overflow: hidden;
    transition: width .3s ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.columna.activa{
    width: 55%;
}

/*organizar las columnas en grupo con bordes 
llamatibos y redondeados a sus
4 esquinas*/
.columna:first-of-type{
    border-radius: 0.3rem 0 0 0.3rem; /*bordes a primer columna*/
}
.columna:last-of-type{
    border-radius: 0 0.3rem 0.3rem 0; /*bordes a la ultima columna*/
}

.sedans{
    background-color: hsl(31, 77%, 52%);
}

.suvs{
    background-color: hsl(184, 100%, 22%);
}

.luxury{
    background-color: hsl(179, 100%, 13%);
}

.titulo{
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase; /*CONVIERTE TITULOS O TEXTO A MAYUSCULAS*/
}

.texto{
    font-size: 14px;
    margin-bottom: 5rem;
    flex-grow: 1;
}
.enlace{
    text-decoration: none;
    border-radius: .9rem;
    background-color: lightgray;
    padding: .5rem 1rem;
    font-size: 12px;
}
.sedans .enlace{
    color: hsl(31, 77%, 52%);
}
.suvs .enlace{
    color: hsl(184, 100%, 22%);
}
.luxury .enlace{
    color: hsl(179, 100%, 13%);
}
